$fontMain: "Didact Gothic", "Century Gothic", Futura, sans-serif;
$imgRoot: "../images";
$mobileMinDPI: 144dpi;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px $fontMain;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: #55362a url(#{$imgRoot}/desk-texture.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

button, input, select {
    font: 14px $fontMain;
    outline: none;
}

.link-button {
    display: inline;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    
    &:hover, &:active {
        color: #0000BB;
        text-decoration: none;
    }
}

.game-holder {
    $padding: 20px;
    
    padding: 20px 20px 0 20px;
    @media (min-width: 768px) {
        padding: 40px 40px 0 40px;
    }
    
    main.paper-page {		
        background: white;
        padding: $padding;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.75);
        border-radius: 2px;
        
        // HEADER
        & {
            $height: 26px;
            
            %header {
                font: 26px $fontMain;
                height: $height;
                line-height: $height;
                margin: 0 0 $padding 0;
            }
            
            .header-normal {
                @extend %header;
                
                .header-title {
                    float: left;
                }
                
                .restart-button {
                    $size: 26px;
                    $btn-padding: 6px;
                    
                    display: inline;
                    width: $size;
                    height: $size;
                    margin: (($height - $size) / 2) 0;
                    padding: 4px;
                    float: right;
                    background: transparent url(#{$imgRoot}/restart2.svg);
                    background-size: ($size - $btn-padding * 2) ($size - $btn-padding * 2);
                    background-repeat: no-repeat;
                    background-position: center center;
                    border: 1px solid hsl(0, 0, 25%);
                    border-radius: $size / 3;
                    cursor: pointer;
                    filter: invert(0.25);
                    
                    &:hover, &:active {
                        filter: invert(0.25);
                    }
                }
            }
            
            .header-winner {
                @extend %header;
                @media (max-width: 767px) {
                    font: 20px $fontMain;
                }
                text-align: center;
            }
        }
        
        .board {
            $grid-color: hsl(0, 0, 75%);
            $shadow: 0 0 0 1px $grid-color;
            
            $hdpi-grid-color: hsl(0, 0, 50%);
            $hdpi-shadow: 0 0 0 0.5px $hdpi-grid-color;
            
            position: relative;
            width: 100%;
            box-sizing: border-box;
            background: white;
            
            box-shadow: $shadow;
            @media (min-resolution: $mobileMinDPI) {
                box-shadow: $hdpi-shadow;
            }
            
            .board-row {
                display: flex;
                justify-content: space-around;
                
                button {
                    position: relative;
                    flex: 1 0 auto;
                    height: auto;
                    padding: 0;
                    border: none;
                    background: transparent;
                    
                    box-shadow: inset $shadow;
                    @media (min-resolution: $mobileMinDPI) {
                        box-shadow: inset $hdpi-shadow;
                    }
                    
                    &.fill-x {
                        background-image: url(#{$imgRoot}/board_x.svg);
                        
                        &.highlight {
                            background-color: #ffe5e5;
                        }
                    }
                    
                    &.fill-o {
                        background-image: url(#{$imgRoot}/board_o.svg);
                        
                        &.highlight {
                            background-color: #e5e5ff;
                        }
                    }
                    
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: repeat;
                    
                    &:before {
                        content: '';
                        float: left;
                        padding-top: 100%;
                    }
                    
                    &:focus {
                        outline: none;
                    }
                    
                    %strike {
                        $overscan: 6%;
                        
                        display: block;
                        position: absolute;
                        top: -$overscan;
                        right: -$overscan;
                        bottom: -$overscan;
                        left: -$overscan;
                        background-position: 0 0;
                        background-size: 100% 100%;
                        z-index: 1;
                    }
                    
                    .strike-horizontal {
                        @extend %strike;
                        background-image: url(#{$imgRoot}/strike_straight.svg);
                    }
                    .strike-vertical {
                        @extend %strike;
                        background-image: url(#{$imgRoot}/strike_straight.svg);
                        transform: rotate(90deg);
                    }
                    
                    .strike-diag-left {
                        @extend %strike;
                        background-image: url(#{$imgRoot}/strike_diagonal.svg);
                    }
                    .strike-diag-right {
                        @extend %strike;
                        background-image: url(#{$imgRoot}/strike_diagonal.svg);
                        transform: rotate(90deg);
                    }
                }
            }
        }
        
        .footer-bar {
            $height: 20px;
            
            height: $height;
            line-height: $height;
            margin: $padding 0 0 0;
            text-align: right;
            
            .language-selector {
                float: left;
                
                label {
                    $size: $height;
                    $color-normal: hsl(0, 0, 75%);
                    $color-selected: hsl(0, 0, 25%);
                    
                    display: block;
                    position: relative;
                    float: left;
                    cursor: pointer;
                    
                    span {
                        display: block;
                        width: $size + 2;
                        height: $size - 2;
                        line-height: $size - 4;
                        text-align: center;
                        border: 1px solid $color-normal;
                        color: $color-normal;
                        border-radius: $size / 3;
                        text-transform: uppercase;
                        font-size: 12px;
                        //font-weight: 600;
                    }
                    
                    input:checked + span {
                        border-color: $color-selected;
                        color: $color-selected;
                    }
                    
                    input {
                        display: block;
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                        pointer-events: none;
                    }
                }
                
                label:not(:last-child) {
                    margin-right: 5px;
                }
            }
            
            label.ai-selector {
                select {
                    $color: hsl(0, 0, 25%);
                    
                    position: relative;
                    height: $height;
                    line-height: $height - 2px;
                    vertical-align: bottom;
                    appearance: none;
                    margin-left: 8px;
                    padding: 0 14px 0 4px;
                    font-size: 14px;
                    //font-weight: 600;
                    color: $color;
                    border: 1px solid $color;
                    border-radius: $height / 3;
                    background: white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='4' viewBox='0 0 10 4'><polygon fill='%23404040' points='0,0 6,0 3,4'/></svg>");
                    background-position: right center;
                    background-repeat: no-repeat;
                    
                    option {
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    
    footer {
        $height: 20px;
        
        height: $height;
        line-height: $height;
        padding: $padding $padding 0 $padding;
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        
        a, a:link, a:visited, a:hover, a:active {
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
            text-decoration: underline;
        }
    }
}